<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hi! I am a 3rd-year combined master's and Ph.D. program in Electrical Engineering and Computer Science at DGIST. I am working with <a href="https://jyskwon.github.io/" class="highlight_info" target="_blank">Prof.Jean Y. Song</a> at <a href="https://diag.kr/" class="highlight_info" target="_blank">DIAG (Designing Intelligence Augmentation Group)</a>.
            </p>         
            <p class="paragraph-text justify-text">
                I'm interested in Human-Computer Interaction (HCI), Human-AI Interaction (HAI), Crowdsourcing, Content Moderation, Social Media, and Mental Health. I explore interaction and AI technologies to develop or adjust software tools that minimize the mental harm users may experience in network environments. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
