<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I'd love to hear from you! I'm open to collaborations. Please feel free to write to me for anything! 
                <br><img src="/assets/images/email.png" style="width: 25px; height: 25px; vertical-align: middle;">
                <a href="mailto:dokyun@dgist.ac.kr" style="font-size: 1rem;">dokyun@dgist.ac.kr</a><br> 
                <img src="/assets/images/email.png" style="width: 25px; height: 25px; vertical-align: middle;">
                <a href="mailto:dno04114@gmail.com" style="font-size: 1rem;">dno04114@gmail.com</a>
            </p>
            </div>
        </div>
    </section>
</div>
