<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Publications</div>

            <div class="paper-card">

                <!-- Paper 1 -->
                <div class="paper-block">
                    <div class="paper-info">
                        <h2>Exploring Intervention Techniques for Psychological Protection and Task Sustainability of Microtask Crowd Workers</h2>
                        <p>
                            <strong class="highlight_info" style="text-decoration: underline;">Dokyun Lee</strong>, Sangeun Seo, and Jean Y. Song
                        </p>
                        <p style="color: rgb(0,0,0); font-weight: bold; font-size: 0.9rem; font-style: italic;">HCI Korea'25</p>
                        <div class="paper-links button-container">  
                            <a href="/assets/materials/HCI_korea_paper_2025.pdf" class="btn-link" target="_blank">
                                <img src="/assets/images/pdf_icon.png" style="width: 20px; height: 20px; vertical-align: middle;"> PDF
                            </a>       
                        </div>
                    </div>
                </div>

                <!-- Paper 2 -->
                <div class="paper-block">
                    <div class="paper-image">
                        <img src="/assets/images/project_fig.png" alt="teaser">
                    </div>
                    <div class="paper-info">
                        <h2>Exploring Intervention Techniques to Alleviate Negative Emotions during Video Content Moderation Tasks as a Worker-centered Task Design</h2>
                        <p>
                            <strong class="highlight_info" style="text-decoration: underline;">Dokyun Lee</strong>, Sangeun Seo, Chanwoo Park, Sunjun Kim, Buru Chang, and Jean Y. Song
                        </p>
                        <p style="color: rgb(0,0,0); font-weight: bold; font-size: 0.9rem; font-style: italic;">DIS'24</p>
                        <div class="paper-links button-container">  
                            <a href="/assets/materials/DIS_paper_2024.pdf" class="btn-link" target="_blank">
                                <img src="/assets/images/pdf_icon.png" style="width: 20px; height: 20px; vertical-align: middle;"> PDF
                            </a>       
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
